body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: white;
    position: relative;
    margin: 0px;
    padding: 0px;
}
.component1{
    width: 100%;
    height: 96px;
    left: 0.9%;
    position: relative;
    background-color: #415161;
}
.firstContent{
    min-width: 930px;
    overflow: visible;
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 87px;
    width: 61.5%;
    padding-top:1.7% ;
    left: 18.75%;
    color: white;
    z-index: 1;
}
.whiteStripe{
    width: 100%;
    height: 6px;
    background-color: white;
}
.logo{
    min-width: 170px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16.35%;
    height: 68.4%;
    overflow: visible;
}
.title{
    position: relative;
    box-sizing: border-box;
    width: 65%;
    top: -3px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 23.8px;
    line-height: 30px;
    overflow: visible;
}
.title span{
    font-size: 35.69px;
    font-weight: 900;
    overflow: visible;
}
span .green{
    font-weight: 400;
    overflow: visible;
    color: #1ABC9C;
}

.navigation{
    display: flex;
    width:70%;
    box-sizing: border-box;
    padding-left:5.41%;
    justify-content: space-between;
    overflow: visible;
    margin-right: -2.2%;
}

.ghost{
    position: absolute;
    display: none;
    background-color:#1ABC9C;
    width: 8%;
    height: 6px;
    top:-6px;
}
.navigation li:hover>.ghost{
    display: block;
}
.navigation li:hover{
    color: #1ABC9C;
}

.navigation>li span{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.searchShopIcons{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-top:0.3%;
}
.searchShopIcons>div{
    margin-right: 17%;
}
/* 
@media (max-width: 1678px) {
    .component1{
        width: 90%;
        left: 3%;
    }
    .logo{
        width: 20%;
        height: 20%;
    }
    .title{
        left: -7%;
    }
    .navigation{
        padding-left: 2%;
    }
    .ghost{
        top:-245%;
    }
    .searchShopIcons{
        right: -3%;
    }
  }
@media (max-width: 960px){
    .logo{
        width: 10%;
        height: 15%;
    }
    .title{
        font-size: 0px;
    }
    .title span{
        font-size:0px;
    }
    .navigation{
        left: -30px;
        width: 650px;
    } 
    .navigation li{
        margin-right: 1.8%;
    }
    .searchShopIcons{
        display: block;
    }
} */
